<template>
  <v-card class="mx-auto pa-10" max-width="600">
    <v-row align="center" class="mx-auto">
      <v-col> </v-col>

      <v-col>
        <v-avatar align="center" color="primary" size="150">
          <img :src="activeLibrarian.ProfileImageURL" alt="ProfileImage" />
        </v-avatar>
      </v-col>

      <v-col> </v-col>
    </v-row>
    <v-form ref="form" v-model="valid" lazy-validation>
      <v-row>
        <v-col cols="12" md="6">
          <v-text-field
            v-model="activeLibrarian.FirstName"
            label="First name"
            required
          ></v-text-field>
        </v-col>

        <v-col cols="12" md="6">
          <v-text-field
            v-model="activeLibrarian.LastName"
            label="Last name"
            required
          ></v-text-field>
        </v-col>
      </v-row>

      <v-text-field
        v-model="activeLibrarian.Email"
        label="E-mail"
        required
        disabled
      ></v-text-field>

      <v-select
        v-model="activeLibrarian.Gender"
        :items="genders"
        label="Gender"
        required
        disabled
      ></v-select>

      <v-menu
        :close-on-content-click="false"
        :nudge-right="40"
        transition="scale-transition"
        offset-y
        min-width="auto"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-text-field
            v-model="activeLibrarian.DateOfBirth"
            label="Date Of Birth"
            prepend-icon="mdi-calendar"
            readonly
            v-bind="attrs"
            v-on="on"
          ></v-text-field>
        </template>
        <v-date-picker v-model="activeLibrarian.DateOfBirth"></v-date-picker>
      </v-menu>

      <v-text-field
        v-model="activeLibrarian.Phone"
        label="Phone Number"
        required
        disabled
      ></v-text-field>

      <v-text-field
        v-model="activeLibrarian.Mobile"
        label="Mobile Number"
        required
      ></v-text-field>

      <v-btn color="primary" @click.native="updateLibrarian"> Update </v-btn>
    </v-form>
  </v-card>
</template>

<script>
import { mapActions } from "vuex";
import { mapGetters } from "vuex";
export default {
  data: () => ({
    valid: true,
    name: "",
    nameRules: [
      (v) => !!v || "Name is required",
      (v) => (v && v.length <= 45) || "Name must be less than 45 characters",
    ],
    email: "",
    emailRules: [
      (v) => !!v || "E-mail is required",
      (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
    ],
    selectedGender: null,
    genders: ["Male", "Female", "Other"],
    checkbox: false,
  }),
  computed: {
    ...mapGetters(["activeLibrarian"]),
  },
  methods: {
    ...mapActions(["getLibrarian", "putLibrarian"]),
    validate() {
      this.$refs.form.validate();
    },
    reset() {
      this.$refs.form.reset();
    },
    resetValidation() {
      this.$refs.form.resetValidation();
    },
    updateLibrarian() {
      this.putLibrarian();
    },
  },
  created() {
    this.getLibrarian();
  },
};
</script>