<template>
    <span>
        <v-tabs v-model="activeTab">
            <v-tab>All Queries</v-tab>
            <v-tab>Requested Queries</v-tab>
            <v-tab>Replied Queries</v-tab>
            <v-tab>Resolved Queries</v-tab>
        </v-tabs>
        <v-spacer></v-spacer>
        <span v-if="activeTab == 0">
            <student-query
                v-for="query in allQueries"
                :key="query.Id"
                :query="query"
            >
            </student-query>
        </span>
        <span v-if="activeTab == 1">
            <student-query
                v-for="query in requestedQueries"
                :key="query.Id"
                :query="query"
            >
            </student-query>
        </span>
        <span v-if="activeTab == 2">
            <student-query
                v-for="query in repliedQueries"
                :key="query.Id"
                :query="query"
            >
            </student-query>
        </span>
        <span v-if="activeTab == 3">
            <student-query
                v-for="query in resolvedQueries"
                :key="query.Id"
                :query="query"
            >
            </student-query>
        </span>
    </span>
</template>

<script>
import axios from "axios";
import StudentQuery from "../components/StudentQuery.vue";
export default {
    data: () => ({
        filter: [],
        StudentQuery: {
            Query: "",
            Status: 1,
            StudentId: null,
        },
        BASE_URL:
            "http://example.inspiroheights.com/Library.API/StudentQueries/",
        allQueries: [],
        activeTab: 0,
    }),
    components: {
        StudentQuery,
    },
    computed: {
        requestedQueries() {
            return this.allQueries.filter((q) => q.Status == 1);
        },
        repliedQueries() {
            return this.allQueries.filter((q) => q.Status == 2);
        },
        resolvedQueries() {
            return this.allQueries.filter((q) => q.Status == 3);
        },
    },

    watch: {},

    methods: {
        getQueries(Id) {
            axios
                .get(this.BASE_URL + `GetAll.php`)
                .then((response) => {
                    if (response.data != "Error")
                        this.allQueries = response.data;
                })
                .catch((e) => {
                    errors.push(e);
                });
        },
    },

    created() {
        this.getQueries();
    },
};
</script>
