<template>
    <span>
        <v-tabs v-model="activeTab">
            <v-tab>All Books</v-tab>
        </v-tabs>

        <v-card v-if="activeTab == 0">
            <v-card-title>
                My Books
                <v-spacer></v-spacer>
                <v-text-field
                    v-model="search"
                    append-icon="mdi-magnify"
                    label="Search"
                    single-line
                    hide-details
                ></v-text-field>
            </v-card-title>
            <v-data-table
                :headers="headers"
                :items="allBooks"
                :page.sync="page"
                :items-per-page="itemsPerPage"
                :search="search"
                hide-default-footer
                class="elevation-1"
                @page-count="pageCount = $event"
            ></v-data-table>
            <div class="text-center pt-2">
                <v-row>
                    <v-col cols="2"> </v-col>
                    <v-col>
                        <v-pagination
                            v-model="page"
                            :length="pageCount"
                        ></v-pagination>
                    </v-col>
                    <v-col cols="2">
                        <v-text-field
                            :value="itemsPerPage"
                            label="Items per page"
                            type="number"
                            min="-1"
                            max="15"
                            @input="itemsPerPage = parseInt($event, 10)"
                        ></v-text-field>
                    </v-col>
                </v-row>
            </div>
        </v-card>
    </span>
</template>

<script>
import { mapGetters } from "vuex";
export default {
    data() {
        return {
            page: 1,
            pageCount: 0,
            itemsPerPage: 10,
            activeTab: null,
            search: "",
            headers: [
                {
                    text: "Name",
                    align: "start",
                    sortable: false,
                    value: "Name",
                },
                { text: "Cost", value: "Cost" },
                { text: "Authors", value: "Authors" },
                { text: "DateOfLent", value: "DateOfLent" },
                { text: "Fine($)", value: "Fine" },
            ],
        };
    },
    computed: {
        ...mapGetters(["studentBooks", "allBooks"]),
        myBooks() {
            return this.studentBooks;
        },
    },
    methods: {},
    created() {},
};
</script>
