<template>
    <span>
        <v-carousel hide-delimiters cycle class="ma-0 pa-0">
            <v-carousel-item
                v-for="(item, i) in items"
                :key="i"
                :src="item.src"
            ></v-carousel-item>
        </v-carousel>
        <v-row>
            <v-col>
                <dashboard-card title="Number Of Laptops"  :desc="Laptops.length"/>
            </v-col>
            <v-col>
                <dashboard-card title="Number Of Books" :desc="allBooks.length"/>
            </v-col>
            <v-col>
                <dashboard-card title="Number Of EBooks" :desc="allEBooks.length"/>
            </v-col>
            <v-col>
                <dashboard-card title="Number Of Students" :desc="allStudents.length"/>
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="2"> </v-col>
            <v-col>
                <h1>FAQ's</h1>
                <v-expansion-panels focusable>
                    <v-expansion-panel v-for="(item, i) in 5" :key="i">
                        <v-expansion-panel-header color="info">
                            Item
                        </v-expansion-panel-header>
                        <v-expansion-panel-content>
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat.
                        </v-expansion-panel-content>
                    </v-expansion-panel>
                </v-expansion-panels>
            </v-col>
            <v-col cols="2"> </v-col>
        </v-row>
    </span>
</template>

<script>
import StudentQueries from "../components/StudentQuery.vue";
import DashboardCard from "../components/DashboardCard.vue";
import { mapGetters } from "vuex";
export default {
    data() {
        return {
            items: [
                {
                    src: "https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1856&q=80",
                },
                {
                    src: "https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1290&q=80",
                },
                {
                    src: "https://images.unsplash.com/photo-1589998059171-988d887df646?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80",
                },
            ],
        };
    },

    components: {
        StudentQueries,
        DashboardCard,
    },
    computed: {
        ...mapGetters(["allBooks","Laptops","allEBooks","allStudents"]),
    },
};
</script>
