<template>
    <span>
        <v-card
            class="mx-auto pa-10"
            max-width="600"
        >
            <v-row align="center" class="mx-auto">
                <v-col> </v-col>

                <v-col>
                    <v-avatar align="center" color="primary" size="150">
                        <img
                            :src="paginatedStudent.ProfileImageURL"
                            alt="ProfileImage"
                        />
                    </v-avatar>
                </v-col>

                <v-col> </v-col>
            </v-row>
                <v-row>
                    <v-col cols="12" md="6">
                        <v-text-field
                            v-model="paginatedStudent.FirstName"
                            label="First name"
                            required
                        ></v-text-field>
                    </v-col>

                    <v-col cols="12" md="6">
                        <v-text-field
                            v-model="paginatedStudent.LastName"
                            label="Last name"
                            required
                        ></v-text-field>
                    </v-col>
                </v-row>

                <v-text-field
                    v-model="paginatedStudent.Email"
                    label="E-mail"
                    required
                    disabled
                ></v-text-field>

                <v-select
                    v-model="paginatedStudent.Gender"
                    :items="genders"
                    label="Gender"
                    required
                    disabled
                ></v-select>

                <v-menu
                    :close-on-content-click="false"
                    :nudge-right="40"
                    transition="scale-transition"
                    offset-y
                    min-width="auto"
                >
                    <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                            v-model="paginatedStudent.DateOfBirth"
                            label="Date Of Birth"
                            prepend-icon="mdi-calendar"
                            readonly
                            v-bind="attrs"
                            v-on="on"
                        ></v-text-field>
                    </template>
                    <v-date-picker
                        v-model="paginatedStudent.DateOfBirth"
                    ></v-date-picker>
                </v-menu>

                <v-text-field
                    v-model="paginatedStudent.Phone"
                    label="Phone Number"
                    required
                    disabled
                ></v-text-field>

                <v-text-field
                    v-model="paginatedStudent.Mobile"
                    label="Mobile Number"
                    required
                ></v-text-field>

                <v-btn color="primary" @click.native="updateLibrarian">
                    Update
                </v-btn>
        </v-card>
        <div class="text-center">
            <v-pagination v-model="page" :length="length"></v-pagination>
        </div>
    </span>
</template>

<script>
import { mapGetters } from "vuex";
import { mapActions } from "vuex";

export default {
    data() {
        return {
            genders: ["Male", "Female", "Other"],
            page: 1,
        };
    },
    computed: {
        ...mapGetters(["allStudents"]),
        length(){
            return this.allStudents.length;
        },
        paginatedStudent(){
            return this.allStudents[this.page-1];
        }
    },
    
};
</script>
