<template>
    <v-app id="inspire">
        <v-app-bar app flat color="">
            <a to="/Dashboard">
                <img src="../assets/logo-lg.png" width="200" height="70" />
            </a>
            <v-spacer />
            <v-icon class=""> mdi-cog-outline </v-icon>
            <div class="text-center">
                <v-menu
                    :close-on-content-click="false"
                    :nudge-width="200"
                    offset-x
                >
                    <template v-slot:activator="{ on, attrs }">
                        <v-icon class="ma-5" v-bind="attrs" v-on="on">
                            mdi-bell
                        </v-icon>
                    </template>

                    <v-card>
                        <v-list two-line>
                            <template v-for="(item, index) in MyNotifications">
                                <v-subheader
                                    v-if="item.header"
                                    :key="item.header"
                                    text="Notifications"
                                ></v-subheader>

                                <v-divider
                                    v-else-if="item.divider"
                                    :key="index"
                                    :inset="item.inset"
                                ></v-divider>

                                <v-list-item v-else :key="item.title">
                                    <v-icon
                                        class="ma-5"
                                        color="primary"
                                    >
                                        mdi-bell
                                    </v-icon>
                                    <v-list-item-title
                                        v-html="item.Description"
                                    ></v-list-item-title>
                                </v-list-item>
                            </template>
                        </v-list>
                    </v-card>
                </v-menu>
            </div>
            <v-btn
                justify-end="true"
                color="red"
                depressed
                elevation="2"
                outlined
            >
                <v-icon left> mdi-logout </v-icon> Logout
            </v-btn>
        </v-app-bar>

        <v-navigation-drawer v-model="drawer" color="primary" app>
            <v-sheet class="pa-4" color="primary">
                <v-avatar class="mb-4" color="grey darken-1" size="100">
                    <img
                        :src="activeLibrarian.ProfileImageURL"
                        alt="ProfileImage"
                    />
                </v-avatar>

                <div>{{ activeLibrarian.Email }}</div>
            </v-sheet>

            <v-divider></v-divider>

            <v-list>
                <v-list-item
                    v-for="[icon, text, toLink] in links"
                    :key="icon"
                    link
                    :to="toLink"
                    custom
                    color="white"
                >
                    <v-list-item-icon>
                        <v-icon>{{ icon }}</v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                        <v-list-item-title>{{ text }}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>

        <v-main>
            <v-container class="py-8 px-6" fluid>
                <router-view />
            </v-container>
        </v-main>
    </v-app>
</template>

<script>
import { mapGetters } from "vuex";
import { mapActions } from "vuex";

export default {
    data: () => ({
        drawer: null,
        links: [
            ["mdi-inbox-arrow-down", "Dashboard", "/Dashboard"],
            ["mdi-account", "MyProfile", "/MyProfile"],
            ["mdi-account-supervisor", "Students", "/Students"],
            ["mdi-book", "Books", "/Books"],
            ["mdi-laptop", "Laptops", "/Laptops"],
            ["mdi-notebook", "EBooks", "/EBooks"],
            ["mdi-comment-question", "Queries", "/Queries"],
        ],
    }),
    methods: {
        ...mapActions([
            "getLibrarian",
            "getBooksByStudentId",
            "getLaptops",
            "getMyLaptop",
            "getAllEBooks",
            "getAllBooks",
            "getAllStudents",
            "getMyNotifications",
        ]),
    },
    created() {
        this.getLibrarian();
        this.getBooksByStudentId();
        this.getLaptops();
        this.getMyLaptop();
        this.getAllEBooks();
        this.getAllBooks();
        this.getAllStudents();
        this.getMyNotifications();
    },
    computed: {
        ...mapGetters(["activeLibrarian", "MyNotifications"]),
        minidrawer() {
            return !this.drawer;
        },
    },
};
</script>
