<template>
    <span>
        <v-sheet class="pa-2">
            <v-card class="mx-auto pa-3" max-width="800">
                <v-row>
                    <v-col cols="11"> {{ query.Query }} </v-col>
                    <v-col cols="1">
                        <v-icon large color="red" v-if="query.Status == 1">
                            mdi-alert-octagram
                        </v-icon>
                        <v-icon large color="primary" v-if="query.Status == 2">
                            mdi-message-flash
                        </v-icon>

                        <v-icon large color="green" v-if="query.Status == 3">
                            mdi-check-circle
                        </v-icon>
                    </v-col>
                </v-row>
                <span v-if="query.Status == 2">
                    <h4>Reply:</h4>
                    {{ query.Reply }}
                </span>
                <span v-if="query.Status == 1">
                    <v-text-field
                        v-model="query.Reply"
                        label="Reply"
                        outlined
                        required
                    ></v-text-field>
                    <v-btn color="primary" @click.native="replyQuery">
                        Reply
                    </v-btn>
                </span>
                <div v-if="query.Status == 2">
                    <v-btn depressed color="primary" @click.native="replyQuery">
                        Resolve
                    </v-btn>
                </div>
            </v-card>
            <v-spacer max-width="800"></v-spacer>
        </v-sheet>
    </span>
</template>

<script>
import axios from "axios";
export default {
    props: ["query"],
    data: () => ({
        StudentQuery: {
            name: "",
        },
        apiBaseURL: "http://example.inspiroheights.com/Library.API/",
    }),

    computed: {},

    watch: {
        name() {
            this.errorMessages = "";
        },
    },

    methods: {
        replyQuery() {
            if (this.query.Status == 1) this.query.Status = 2;
            else this.query.Status = 3;
            axios
                .post(this.apiBaseURL + `StudentQueries/Put.php`, this.query)
                .then((response) => {
                    if (response.data == "Success") {
                        if ((this.query.Status = 2))
                            alert("Sucessfully replied to query");
                        else {
                            alert("Sucessfully resolved query");
                        }
                    }
                })
                .catch((e) => {
                    errors.push(e);
                });
        },
    },
};
</script>
