<template>
    <span v-if="isLogIn!='null'">
        <nav-bar />
    </span>
    <span v-else>
        <p>hello</p>
    </span>
</template>

<script>
import NavBar from "./components/NavBar.vue";
import { mapGetters } from "vuex";
import { mapActions } from "vuex";

export default {
    name: "App",
	data: {
		isLogIn: false,
	},
    components: {
        NavBar,
    },
    computed: {
        ...mapGetters(["isLoggedIn"]),
    },
	methods: {
		...mapActions(["setIsLoggedIn"]),
	},
	created() {
		this.setIsLoggedIn();
	}
};
</script>
